<h1>PSLab Virtual Lab</h1>
<div class="container">
        <div class="jumbotron">
            <h1>VIRTUAL LABS</h1>
            <p class="lead"></p>
            {{ link-to 'Sign Up' 'signUp' class='btn btn-primary btn-small'}}
            <!-- <p><a class="btn btn-lg btn-success" href="signUp.html" role="button">Sign up</a></p> -->
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>What's this?</h4>
                <p>This website enables you to acquire data from remotely located devices. Registered users can write python scripts that will be executed remotely, and the results will be displayed in the browser </p>
 
                <h4>Graphical interfaces</h4>
                <p>It features various graphical utilities for click-execute functionality.</p>
 
                <h4>Pre-written code</h4>
                <p>Standard scripts for various experiments are also available.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Section A</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Section B</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Section C</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>


</div>
