{{home-menu}}
    <div class="container">
      <div class="jumbotron">
        <h1>Sign Up Here</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
        <h3 id="message" class="text-muted"></h3>
      </div>
 
    <script type="text/javascript">
       $(function() {
		$('#btnSignUp').click(function() {
	 
			$.ajax({
				url: '/signUp',
				data: $('form').serialize(),
				type: 'POST',
				dataType:'json',
				success: function(response) {
					if (response.hasOwnProperty('error')){
						$('#message').css("color", "red");
						$('#message').html(String(response.error));
						}
					else if (response.hasOwnProperty('message')){
						$('#message').css("color", "green");
						$('#message').html(response.message);
						}
					console.log(response);
				},
				error: function(response) {
					$('#message').css("color", "red");
					$('#message').html('Sign-Up failed. ');
					console.log(response);
				}
			});
		});
	});

	</script>
       
 
      <footer class="footer">
        <p>Sign-Up page</p>
      </footer>
 
    </div>

{{outlet}}
